.App{
  padding: 0px 20px;
}
.lists {
  display: flex;
}
.button {
  background-color: aquamarine;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
}
.button:hover {
  border :1px solid black;
}